<!-- http://localhost:4200/build/due.fat.vul.mos.bc.bs.bob.bal.met~aab.adb.aib.ap1.apb.air~ded.des.ear.fir.far.gun -->
<!-- http://localhost:4200/build/due.fat.vul.mos.bc.bs.bob.bal.met-aab.adb.aib.ap1.apb-air.ded.des.ear.fir.far.gun -->

<div class="container">
  <div class="ranged-weapons">
    <div class="item-card" *ngIf="build?.firstRangedWeapon">
      <div class="item-label">{{ build?.firstRangedWeapon?.name }}</div>
      <div
        class="item-img-container"
        [ngStyle]="{
          background: getElementBackground(build?.firstRangedWeapon?.element)
        }"
      >
        <img
          *ngIf="build?.firstRangedWeapon?.image"
          [src]="build?.firstRangedWeapon?.image"
          alt="{{ build?.firstRangedWeapon?.name }}"
        />
      </div>
    </div>
    <div class="item-card" *ngIf="build?.secondRangedWeapon">
      <div class="item-label">{{ build?.secondRangedWeapon?.name }}</div>
      <div
        class="item-img-container"
        [ngStyle]="{
          background: getElementBackground(build?.secondRangedWeapon?.element)
        }"
      >
        <img
          *ngIf="build?.secondRangedWeapon?.image"
          [src]="build?.secondRangedWeapon?.image"
          alt="{{ build?.secondRangedWeapon?.name }}"
        />
      </div>
    </div>
    <div class="item-card" *ngIf="build?.demonicWeapon">
      <div class="item-label">{{ build?.demonicWeapon?.name }}</div>
      <div
        class="item-img-container"
        [ngStyle]="{
          background: getElementBackground(build?.demonicWeapon?.element)
        }"
      >
        <img
          *ngIf="build?.demonicWeapon?.image"
          [src]="build?.demonicWeapon?.image"
          alt="{{ build?.demonicWeapon?.name }}"
        />
      </div>
    </div>
  </div>
  <div class="melee-spells-items">
    <div class="melee">
      <div class="item-card" *ngIf="build?.meleeWeapon; else meleeSkeleton">
        <div class="item-label">
          {{ build?.meleeWeapon?.name || "Melee" }}
        </div>
        <div
          class="item-img-container"
          [ngStyle]="{
            background: getElementBackground(build?.meleeWeapon?.element)
          }"
        >
          <img
            *ngIf="build?.meleeWeapon?.image"
            [src]="build?.meleeWeapon?.image"
            alt="{{ build?.meleeWeapon?.name }}"
          />
        </div>
      </div>
      <ng-template #meleeSkeleton>
        <div class="item-card skeleton">
          <div class="item-label">Melee</div>
          <div class="item-img-container"></div>
        </div>
      </ng-template>
    </div>
    <div class="light-spell">
      <div class="item-card" *ngIf="build?.lightSpell; else lightSpellSkeleton">
        <div class="item-label">
          {{ build?.lightSpell?.name || "Light Spell" }}
        </div>
        <div
          class="item-img-container"
          [ngStyle]="{
            background: getElementBackground(build?.lightSpell?.element)
          }"
        >
          <img
            *ngIf="build?.lightSpell?.image"
            [src]="build?.lightSpell?.image"
            alt="{{ build?.lightSpell?.name }}"
          />
        </div>
      </div>
      <ng-template #lightSpellSkeleton>
        <div class="item-card skeleton">
          <div class="item-label">Light Spell</div>
          <div class="item-img-container"></div>
        </div>
      </ng-template>
    </div>
    <div class="heavy-spell">
      <div class="item-card" *ngIf="build?.heavySpell; else heavySpellSkeleton">
        <div class="item-label">
          {{ build?.heavySpell?.name || "Heavy Spell" }}
        </div>
        <div
          class="item-img-container"
          [ngStyle]="{
            background: getElementBackground(build?.heavySpell?.element)
          }"
        >
          <img
            *ngIf="build?.heavySpell?.image"
            [src]="build?.heavySpell?.image"
            alt="{{ build?.heavySpell?.name }}"
          />
        </div>
      </div>
      <ng-template #heavySpellSkeleton>
        <div class="item-card skeleton">
          <div class="item-label">Heavy Spell</div>
          <div class="item-img-container"></div>
        </div>
      </ng-template>
    </div>
    <div class="relic">
      <div class="item-card" *ngIf="build?.relic; else relicSkeleton">
        <div class="item-label">{{ build?.relic?.name || "Relic" }}</div>
        <div
          class="item-img-container"
          [ngStyle]="{
            background: getElementBackground(build?.relic?.element)
          }"
        >
          <img
            *ngIf="build?.relic?.image"
            [src]="build?.relic?.image"
            alt="{{ build?.relic?.name }}"
          />
        </div>
      </div>
      <ng-template #relicSkeleton>
        <div class="item-card skeleton">
          <div class="item-label">Relic</div>
          <div class="item-img-container"></div>
        </div>
      </ng-template>
    </div>
    <div class="fetish">
      <div class="item-card" *ngIf="build?.fetish; else fetishSkeleton">
        <div class="item-label">{{ build?.fetish?.name || "Fetish" }}</div>
        <div
          class="item-img-container"
          [ngStyle]="{
            background: getElementBackground(build?.fetish?.element)
          }"
        >
          <img
            *ngIf="build?.fetish?.image"
            [src]="build?.fetish?.image"
            alt="{{ build?.fetish?.name }}"
          />
        </div>
      </div>
      <ng-template #fetishSkeleton>
        <div class="item-card skeleton">
          <div class="item-label">Fetish</div>
          <div class="item-img-container"></div>
        </div>
      </ng-template>
    </div>
    <div class="ring">
      <div class="item-card" *ngIf="build?.ring; else ringSkeleton">
        <div class="item-label">{{ build?.ring?.name || "Ring" }}</div>
        <div
          class="item-img-container"
          [ngStyle]="{
            background: getElementBackground(build?.ring?.element)
          }"
        >
          <img
            *ngIf="build?.ring?.image"
            [src]="build?.ring?.image"
            alt="{{ build?.ring?.name }}"
          />
        </div>
      </div>
      <ng-template #ringSkeleton>
        <div class="item-card skeleton">
          <div class="item-label">Ring</div>
          <div class="item-img-container"></div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="beads">
    <div class="bead-item" *ngFor="let bead of build?.rosaryBeads">
      <div class="item-img-container prophecy-bead-img">
        <img
          *ngIf="bead?.image"
          [src]="bead?.image"
          alt="{{ bead?.name }}"
          style="width: 100%; height: auto; object-fit: contain"
        />
      </div>
      <div class="bead-info">
        <span class="bead-name">{{ bead.name }}</span>
        <span class="bead-effect">{{ bead.effect }}</span>
      </div>
    </div>
  </div>
  <div class="prophecies">
    <div class="prophecy-item" *ngFor="let prophecy of build?.prophecies">
      <div class="item-img-container prophecy-bead-img">
        <img
          *ngIf="prophecy?.image"
          [src]="prophecy?.image"
          alt="{{ prophecy?.name }}"
          style="width: 100%; height: auto; object-fit: contain"
        />
      </div>
      <div class="prophecy-info">
        <span class="prophecy-name">{{ prophecy.name }}</span>
        <span class="prophecy-omen">{{ prophecy.omen }}</span>
      </div>
    </div>
  </div>
</div>

<!-- Helper: Element background rendering -->
<ng-template #elementBg let-elements let-label="label">
  <ng-container
    *ngIf="elements && (Array.isArray(elements) ? elements.length : elements)"
  >
    <span
      class="element-bg"
      [ngStyle]="{
        background: getElementBackground(elements)
      }"
    >
      {{ label }}
    </span>
  </ng-container>
  <ng-container
    *ngIf="!elements || (Array.isArray(elements) && elements.length === 0)"
  >
    <span class="item-label">{{ label }}</span>
  </ng-container>
</ng-template>

<!-- Helper: Element image background rendering -->
<ng-template #elementImgBg let-elements let-content="content">
  <div
    class="item-img-container"
    [ngStyle]="{ background: getElementBackground(elements) }"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-template>
